.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;

  .toggle-library {
    background-color: transparent;
    outline: none;
    border: 0.2em solid black;
    padding: 0.5em 2em;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
