.player {
  min-height: 20vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.time-control {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-control input {
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
}
.time-control input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  transition: 300ms;
}
.time-control input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  transition: 300ms;
}
.time-control .track {
  width: 100%;
  height: 0.5em;
  display: flex;
  align-items: center;
  background-color: lightblue;
  position: relative;
  border-radius: 10em;
  overflow: hidden;
}
.time-control .animate-track {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(0%);
  pointer-events: none;
  transition: 100ms;
}
.time-control .animate-track:hover {
  border: 5px white;
}
.time-control .time {
  margin: 0 2rem;
  padding: 1em 0;
  height: 3em;
  width: 6em;
  position: relative;
}
.time-control .time p {
  transition: 300ms;
  position: absolute;
  top: 25%;
  left: 0;
}

.play-control {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
.play-control .btn {
  cursor: pointer;
}

.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
  background-color: whitesmoke;
}
.song-container .photo {
  max-width: 20em;
  border-radius: 50%;
}
.song-container .song-name {
  padding: 1em 0 0 0;
}
.song-container .artist {
  color: gray;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.library {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;
  height: 100%;
  box-shadow: 2px 2px 50px gray;
  overflow-y: scroll;
  transform: translateX(-100%);
  opacity: 0;
  transition: 300ms;
}

h2 {
  text-align: center;
  padding: 1em;
}

.library-songs {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 1em;
}
.library-songs img {
  width: 50%;
  border-radius: 50%;
}

.active-library {
  transform: translateX(0);
  opacity: 1;
}

.library-song {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 50px rgba(214, 214, 214, 0.25);
  transition: 300ms;
  cursor: pointer;
}
.library-song:hover, .library-song:focus {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(128, 128, 128, 0.25);
}
.library-song:hover img, .library-song:focus img {
  transform: translateY(-10px);
  filter: drop-shadow(0 10px 10px rgba(128, 128, 128, 0.5));
}
.library-song:hover h4,
.library-song:hover h3, .library-song:focus h4,
.library-song:focus h3 {
  transform: translateY(-1px);
}
.library-song img {
  padding: 1em 0;
  transition: 300ms;
}
.library-song h4 {
  color: gray;
  font-weight: 400;
  transition: 300ms;
}
.library-song h3 {
  transition: 300ms;
}

.selected {
  background-color: #c6c6ff;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.navbar .toggle-library {
  background-color: transparent;
  outline: none;
  border: 0.2em solid black;
  padding: 0.5em 2em;
  cursor: pointer;
  transition: 300ms;
}
.navbar .toggle-library:hover {
  background-color: black;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

html ::-webkit-scrollbar {
  width: 12px;
}
html ::-webkit-scrollbar-track {
  background-color: whitesmoke;
}
html ::-webkit-scrollbar-thumb {
  background-color: #414141;
  border-radius: 100em;
  border: 3px solid whitesmoke;
}

.hidden {
  display: none;
}
